<div class="container">
  <form>
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="Email" aria-label="Email" required>
    </div>

    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Password" aria-label="Password" required>
    </div>
    <button class="btn btn-primary" (clik)="onSubmit()">Sign up</button>
  </form>
</div>
