<div class="container">
  <button type="button" class="btn btn-primary"
          (click)="onGoBack()">&larr; Back</button>
  <div *ngIf="loading" class="d-flex align-items-center loading">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>

  <div *ngIf="!loading" class="row">
    <div class="card bg-light mx-auto">
      <img src="{{ film.imageUrl }}" class="card-img-top mx-auto" alt="Poster">
      <div class="card-body">
        <h3 class="card-title">{{ film.title }}</h3>
        <p class="card-text">{{ film.description }}</p>
        <p>Sortie : {{ film.release }}</p>
        <p>Note : {{ film.grade }} / 5</p>
      </div>
    </div>
  </div>
</div>
