p {
  font-size: 1.5em;
}

ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow: hidden;
  overflow-x: scroll;
}
ul::-webkit-scrollbar {
  display: none;
}

ul li {
  background: none;
  text-align: center;
  border: none;
}
