<div *ngIf="loading" class="d-flex align-items-center loading">
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<ul class="list-group list-group-horizontal">
  <li *ngFor="let film of films"
      class="list-group-item"
      (click)="onFilmClicked(film._id)">
    <div class="img-preview">
      <img src="{{ film.imageUrl }}" alt="..." class="img-thumbnail">
    </div>
    <p>{{ film.title }}</p>
  </li>
</ul>
