/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #263238;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

.img-preview {
  height: 250px;
  width: 250px;
  min-height: 250px;
  min-width: 250px;
}
.img-preview img {
  max-width: 100%;
  max-height: 100%;
}
.img-preview:hover {
  background: none;
  cursor: pointer;
  height: 300px;
  width: 300px;
}

.loading {
  color: white;
  font-size: 25px;
}
